$buttonClass: '#{$namespace}-button-';

@include ns(button) {
  border-radius: $border-radius;
  height: 40px;
  padding: 15px;
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  background-color: getVar('button', 'bg', 'color');
  transition-duration: 0.2s;
  border: 1px solid getVar('button', 'border', 'color');
  color: getVar('button', 'text-color');
  font-size: 14px;
  vertical-align: middle;

  &:hover:not(.is-disabled, .is-text) {
    opacity: getVar('button', 'hover', 'opacity');
    background-color: getVar('button', 'hover', 'bg', 'color');
    color: getVar('button', 'hover', 'text', 'color');
    border-color: getVar('button', 'hover', 'border', 'color');
  }

  &:active:not(.is-disabled) {
    transform: scale(0.95);
  }


  &.is-text {
    background-color: transparent;
    border: none;

    &:hover {
      background-color: getVar('fill', 'color', 'light');
    }
  }

  &.is-circle {
    border-radius: 50%;
    width: 40px;
    text-align: center;
    padding: 12px;
  }

  &.is-round {
    border-radius: 20px;
    text-align: center;
  }

  &.is-disabled {
    @include disabled;
  }

  &-large {
    padding: 20px;
    height: 50px;
    font-size: 16px;
  }

  &-small {
    padding: 10px;
    height: 30px;
    font-size: 12px;
  }

  & + & {
    margin-left: 15px;
  }
}
