@include ns(checkbox) {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  &-box {
    //padding: 2px;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: getVar('primary-color');
    border-radius: getVar('border', 'radius');
    position: relative;
    .checked-ico {
      position: absolute;
      top: 50%;
      left: 50%;
      color: #fff;
      transform: translate(-50%, -50%);
    }

    input {
      opacity: 0;
    }
  }
}
