@include ns(color-picker) {
  border-radius: getVar('border', 'radius');
  border: 1px solid getVar('border', 'color');
  padding: 3px 5px;
  position: relative;
  width: 50px;
  cursor: pointer;
  &-inner {
    width: 100%;
    cursor: pointer;
  }

  &:hover {
    border-color: getVar('border', 'color', 'darker');
  }

  &:focus-within {
    border-color: getVar('primary', 'color');
  }
}
