@include ns(overlay) {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: getVar('overlay', 'color', 'lighter');
  z-index: 2024;
}

@include ns(dialog) {
  width: getVar('dialog', 'width');
  margin: getVar('dialog', 'top') auto 0;
  background-color: getVar('fill', 'color', 'blank');
  padding: 25px;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation: zoomIn;
  animation-duration: 0.3s;
  position: relative;

  &-close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: getVar('fill', 'color', 'light');
    }
  }

  &-header {
    font-size: 18px;
    font-weight: bold;
  }

  &-footer {
    text-align: right;
  }
}
