@include ns(form) {
}

@include ns(form-item) {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  &-label {
    font-size: getVar('font-size-base');
    text-align: right;
    width: 70px;
    position: relative;
    &-rule {
      color: getVar('danger-color');
      margin-right: 5px;
    }
  }
  &-content {
    flex: 1;
    position: relative;
    &-message {
      position: absolute;
      left: 0;
      bottom: -22px;
      font-size: 12px;
      color: getVar('danger-color');
      animation: fadeIn 0.2s;
    }
  }
}
