@function get-colors($color-primary, $steps: 10, $increment: 5%) {
  $color-map: (); // 创建一个空 map

  @for $i from 2 through $steps {
    $lighter-color: darken($color-primary, $i * $increment); // 计算颜色

    $color-name: '#{$i}'; // 设置变量名
    $var-name: '--#{$color-name}'; // CSS 自定义属性名称

    $color-map: map-merge(
      $color-map,
      (
        $i: $lighter-color
      )
    ); // 将变量设置到 map 中
  }

  @return $color-map; // 返回颜色 map
}

@function joinVarName($list) {
  $name: '--' + $namespace;
  @each $item in $list {
    @if $item != '' {
      $name: $name + '-' + $item;
    }
  }
  @return $name;
}

@function getVar($args...) {
  @return var(#{joinVarName($args)});
}

@function get-var-with-default($name, $default) {
  @return var(#{joinVarName($name)}, $default);
}
