@include ns(icon) {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: inherit;
  font-style: normal;
  vertical-align: -2px;
  outline: none;
  stroke: currentColor;
  fill: currentColor;
}

@include ns(icon-loading) {
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  animation: rotate 2s linear infinite;
}

@include ns(click-water) {
  $imageColor: get-var-with-default('click-water', #fff);

  @debug $imageColor;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.3s;
    background: #fff;
    opacity: 0;
  }

  &:active::before {
    opacity: 0.2;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 200%;
    height: 100%;
    left: var(--x, 0);
    top: var(--y, 0);
    background-image: radial-gradient(circle, $imageColor 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
    transition:
      transform 0.8s,
      opacity 0.8s;
  }

  &:active::after {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.3;
    transition: 0s;
  }
}
