@include ns(input) {
  border-radius: getVar('border', 'radius');
  border: 1px solid getVar('border', 'color');
  position: relative;
  cursor: getVar('input-cursor');
  display: flex;
  align-items: center;
  overflow: hidden;

  .clear-bar {
    display: none;
  }

  &-inner {
    width: 100%;
    cursor: inherit;
    border: none;
    background: none;
    outline: none;
    padding: 5px 10px;
  }

  &:hover {
    border-color: getVar('border', 'color', 'darker');
    .clear-bar {
      margin: 0 10px;
      display: block;
    }
  }

  &:focus-within {
    border-color: getVar('primary', 'color');
  }

  &.is-disabled {
    background-color: getVar('disabled-bg-color');
    border-color: getVar('border', 'color');
    cursor: not-allowed;
  }

  &.is-textarea {
    // padding: 5px 0 0 10px;
  }

  .prefix-icon {
    padding-left: 10px;
  }

  .suffix-icon {
    padding-right: 10px;
  }
}
