@include ns(input) {
  border-radius: getVar('border', 'radius');
  border: 1px solid getVar('border', 'color');
  padding: 5px 10px;
  position: relative;
  cursor: getVar('input-cursor');
  display: flex;

  .clear {
    display: none;
  }

  &-inner {
    width: 100%;
    cursor: inherit;
  }

  &:hover {
    border-color: getVar('border', 'color', 'darker');
    .clear {
      display: block;
    }
  }

  &:focus-within {
    border-color: getVar('primary', 'color');
  }

  &.is-disabled {
    background-color: getVar('disabled-bg-color');
    border-color: getVar('border', 'color');
    cursor: not-allowed;
  }
}
