@include ns(menu) {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &-item {
    padding: 10px 12px;
    cursor: pointer;
    font-size: getVar('font-size-base');
    font-weight: 500;
    position: relative;
    overflow: hidden;
    &:hover {
      background-color: getVar('primary-color-8');
      border-radius: getVar('border', 'radius');
    }

    &.is-active {
      color: getVar('primary-color');
    }
  }
}
