$namespace: 'elin-';
@mixin ns($cls) {
  $NS: $namespace + $cls;

  .#{$NS} {
    @content;
  }
}

@mixin disabled() {
  opacity: $disabledOpacity;
  cursor: not-allowed;
}

@mixin generate-lighter-colors($colors) {
  :root {
    @each $key, $value in $colors {
      // @debug $key, $value;
      --#{$namespace}#{$key}: #{$value};
      $lightmap: get-lighter-colors($value);
      // @debug $lightmap;
      @each $lightKey, $lighValue in $lightmap {
        @debug $lightKey, $lighValue;
        --#{$namespace}#{$key}-#{$lightKey}: #{$lighValue};
      }
    }
  }
}
