@include ns(select) {
  border-radius: getVar('border', 'radius');
  border: 1px solid getVar('border', 'color');
  padding: 5px 10px;
  position: relative;
  min-height: 36px;
  cursor: pointer;

  &-placeholder {
    font-size: 14px;
    color: getVar('text', 'color', 'placeholder');
  }

  &-inner {
    width: 100%;
  }

  //&:focus-within {
  //  border-color: getVar('primary', 'color');
  //}
  &.is-focus {
    border-color: getVar('primary', 'color');
  }
}
