@include ns(select) {
  $name: &;
  border-radius: getVar('border', 'radius');
  border: 1px solid getVar('border', 'color');
  padding: 5px 10px;
  position: relative;
  min-height: 36px;
  cursor: pointer;
  font-size: getVar('font-size-base');
  font-weight: 500;
  display: flex;
  padding-right: 30px;
  &-placeholder {
    color: getVar('text', 'color', 'placeholder');
    user-select: none;
    flex: 1;
    position: absolute;
    left: 10px;
  }

  &-value {
    user-select: none;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    &-multiple {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 5px;
    }
    &-radio {
      position: absolute;
      left: 0;
    }
  }

  .filter-input {
    flex: 1;
    z-index: 10;
  }

  &.is-multiple {
    .filter-input {
      margin-top: 5px;
    }
  }

  &-suffix {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.2s;
  }

  &.is-focus {
    border-color: getVar('primary', 'color');
    #{$name}-suffix {
      transform: translateY(-50%) rotate(180deg);
    }
    #{$name}-value {
      color: getVar('text', 'color', 'placeholder');
    }
  }

  &.is-disabled {
    background-color: getVar('disabled-bg-color');
    border-color: getVar('border', 'color');
    cursor: not-allowed;
  }

  .clear-bar {
    display: none;
  }

  &:hover:not(.is-disabled) {
    border-color: getVar('border', 'color', 'darker');
    .clear-bar {
      margin: 0 5px;
      display: flex;
      align-items: center;
    }
  }
}

@include ns(select-drop) {
  background-color: getVar('bg', 'color');
  color: getVar('text-color');
}
