@include ns(table-wrapper){
  overflow: auto;

  &.is-scroll{
    .is-fixed{
      position: sticky;
      z-index: 20;
      background-color: #fff;
      &:not(:has(+ .is-fixed)) ::after {
        content: '';
        position: absolute;
        top: 0;
        width: 10px;
        bottom: -1px;
        touch-action: none;
      }
    }

    .is-fixed-left {
      &:not(:has(+ .is-fixed-left)) ::after {
        box-shadow: inset 10px 0 10px -10px #00000026;
        right: -10px;
      }
    }

    .is-fixed-right {
      &:not(:has(+ .is-fixed-right)) ::after {
        box-shadow: inset -10px 0 10px -10px #00000026;
        left: -10px;
      }
    }
  }
}

@include ns(table) {
  border-collapse: collapse;
  table-layout: fixed;

  &-body {
  }

  &-th {
    padding: 12px 16px;
    text-align: left;
    color: getVar('text', 'color', 'secondary');
    position: relative;
    font-size: 12px;
  }

  &-tr {
    //padding: 10px;
    border-bottom: 1px solid #eee;
    overflow: auto;
    position: relative;
  }

  &-td {
    padding: 12px 16px;
    position: relative;
    font-size: 14px;
  }

  &-cell{
  }

}
