@mixin tag-type($type) {
  @include generate-var-map(
    (
      'tag-bg-color': getVar($type, 'color', '8'),
      'tag-border-color': getVar($type, 'color', 5),
      'tag-text-color': getVar($type, 'color')
    )
  );
}

@include ns(tag) {
  @include tag-type(primary);

  background-color: getVar('tag-bg-color');
  border-color: getVar('tag-border-color');
  color: getVar('tag-text-color');
  display: inline-flex;
  justify-content: center;
  font-weight: 500;
  gap: 5px;
  align-items: center;
  vertical-align: middle;
  height: 24px;
  padding: 0 9px;
  font-size: getVar('font-size-base');
  line-height: 1;
  border-width: 1px;
  border-style: solid;
  border-radius: getVar('border', 'radius');
  box-sizing: border-box;
  white-space: nowrap;
  animation: zoomIn 0.3s;

  .close-ico {
    font-size: 14px;
    cursor: pointer;
    border-radius: 50%;
    padding: 2px;
    &:hover {
      color: #fff;
      background-color: getVar('tag-text-color');
    }
  }

  &-success {
    @include tag-type(success);
  }

  &-warning {
    @include tag-type(warning);
  }

  &-danger {
    @include tag-type(danger);
  }

  &-info {
    @include tag-type(info);
  }
}
