@include ns(tag) {
  background-color: getVar('primary', 'color', '8');
  border-color: getVar('primary', 'color', '5');
  color: getVar('primary', 'color');
  display: inline-flex;
  justify-content: center;
  font-weight: 500;
  gap: 5px;
  align-items: center;
  vertical-align: middle;
  height: 24px;
  padding: 0 9px;
  font-size: getVar('font-size-base');
  line-height: 1;
  border-width: 1px;
  border-style: solid;
  border-radius: getVar('border', 'radius');
  box-sizing: border-box;
  white-space: nowrap;
  animation: zoomIn 0.3s;

  .close-ico {
    font-size: 14px;
    cursor: pointer;
    color: getVar('primary', 'color');
    border-radius: 50%;
    padding: 2px;
    &:hover {
      color: #fff;
      background-color: getVar('primary', 'color');
    }
  }
}
