$color-primary: #00bcd4;
$color-success: #67c23a;
$color-info: #607d8b;
$color-warning: #efa314;
$color-danger: #ee0a24;

@include generate-lighter-colors($color-primary);
@include generate-lighter-colors($color-success, 'success');
@include generate-lighter-colors($color-info, 'info');
@include generate-lighter-colors($color-warning, 'warning');
@include generate-lighter-colors($color-danger, 'danger');

$primaryColor: $color-primary;
$successColor: $color-success;
$dangerColor: $color-danger;
$infoColor: $color-info;
$warningColor: $color-warning;

$primary-border-color: var(--color-primary-light-3);
$success-border-color: var(--color-success-light-3);

$border-radius: 7px;
$disabledOpacity: 0.5;
