$colorBlue: #0080ff;
$colorRed: #ee0a24;
$colorOrange: #ff976a;
$colorGreen: #67c23a;
$colorWhite: #fff;
$colorBlack: #000;
$colorGray: #f2f3f5;
$colorGray2: #dcdee0;
$colorGray3: #969799;
$colorGray4: #323233;



$primaryColor: $colorBlue;
$successColor: $colorGreen;
$dangerColor: $colorRed;
$infoColor: $colorGray3;
$warningColor: $colorOrange;


$border-radius:7px;
$disabledOpacity: 0.5;