*{
    margin: 0;
    padding: 0;
}

body,html{
    height: 100%;
}

#app{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elin-icon{
    display: inline-block;
    width: 1em;
    height: 1em;
    overflow: hidden;
    fill: currentColor;
}